/* stile globale */

/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --dark-colour: #231F20;
    --boolflix-red: #DB202C;
    --light-colour: #FFFCF9;
    --success-colour: #B1EDE8;
}
/* #endregion common */

/* #region header */
header {

    .logo {

    }

    .search {
        
        form {

            input {

            }

            select {

            }

            button {

            }
        }
    }
}
/* #endregion header */

/* #region main */
main {

    .container {

        .row {

            .card {

                /* RICORDA: modificalo dopo */
                ul {

                    li {

                    }
                }
            }
        }
    }
}
/* #endregion main */

/* #region footer */
footer {

    p {

    }
}
/* #endregion footer */